@font-face {
    font-family: 'et-line';
    src:  url('../fonts/et-line.eot?1kjpam');
    src:  url('../fonts/et-line.eot?1kjpam#iefix') format('embedded-opentype'),
      url('../fonts/et-line.ttf?1kjpam') format('truetype'),
      url('../fonts/et-line.woff?1kjpam') format('woff'),
      url('../fonts/et-line.svg?1kjpam#et-line') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  .icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'et-line' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .et-browser:before {
    content: "\e00c";
  }
  .et-presentation:before {
    content: "\e00e";
  }
  .et-edit:before {
    content: "\e01c";
  }